
<div class="ui grid">
<div class='four wide column'></div>
<div class='eight wide column'>
<h2>All Users</h2>
<div class="ui yellow message">
  <i class="star icon"></i>
  Look at our latest Stars !!!
</div> {{usersLoading}}
<div *ngIf="usersLoading">Loading Users!!</div>
<div class="ui middle aligned divided list" *ngFor="let user of users | async">
  <div class="item">
    <img class="ui avatar image" src="{{user.imagePath}}">
    <div class="content">
      <a class="header">{{user.firstName}} {{user.lastName}}</a>
      <div class="description">
        <p>{{user.joinedDate}}</p>
      </div>
    </div>
  </div>
  <div class="ui fitted divider"></div>
 </div>


</div>
<div class='four wide column'></div>
</div>